<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Monthly Stats</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/month.css">
  <link rel="shortcut icon" href="/images/gota.png" type="image/x-icon">
</head>

<body>
  <%- include("../components/navbar.ejs", { user }); %>
  <div class="container">
    <h1><strong>Your monthly stats <%= user.name  %>!</strong></h1>

    <h3 id="progress-text">Your progress:</h3>

    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0"
      aria-valuemax="100">
      <div id="progress-bar" class="progress-bar" style="width: 17%"></div>
    </div>

    <div class="container text-center histogram mt-5">
      <div class="row bars" id="graph"></div>
      <div class="row x-axis" id="dates"></div>
    </div>

    <div class="container mt-5">
      <h1>Recent activity</h1>
      <div id="activities" class="d-flex justify-content-around flex-wrap"></div>
    </div>
  </div>

  <script>
    const todays_date = new Date();
    const months_start = Date.UTC(todays_date.getFullYear(), todays_date.getUTCMonth(), 1);
    const bar_graph = document.querySelector("#graph");
    const dates = document.querySelector("#dates");
    const activities_div = document.querySelector("#activities");

    const month = JSON.parse('<%- JSON.stringify(month) %>');
    const activities = JSON.parse('<%- JSON.stringify(activities) %>');

    const values = Object.values(month);

    const activities_month = [...values.flatMap(item => item.activities)];
    const max_val = Math.max(...values.map(item => item.saved_water));
    const diff_days = Math.ceil((todays_date - months_start) / (1000*60*60*24));

    console.log(activities)

    for (let i = 0; i < diff_days; i++) {
      const curr_date = Date.UTC(todays_date.getFullYear(), todays_date.getUTCMonth(), 1+i);
      const display_date = ((new Date(curr_date)).toUTCString()).split(" ");

      const bar_div = document.createElement('div');
      const date_div = document.createElement('div');

      bar_div.className = "col bar";
      bar_div.id = `bar-${i}`;

      date_div.className = "col";
      date_div.innerText = `${display_date[1]}`;
      
      if (curr_date in month) {
        bar_div.style.height = `${month[curr_date].saved_water * 100 / max_val}%`;
      }

      bar_graph.appendChild(bar_div);
      dates.appendChild(date_div);
    }

    for (let i = 0; i < activities_month.length; i++) {
      const activity_div = document.createElement("div");

      activity_div.className = "card mb-3";
      activity_div.style = "width: 45%;"

      activity_div.innerHTML = `
        <div class="row g-0 p-5">
          <div class="col-md-4">
            <img src="${activities[activities_month[i]].img}" class="img-fluid rounded-start" alt="${activities[activities_month[i]].img_alt}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">${activities[activities_month[i]].name}</h5>
            </div>
          </div>
        </div>
      `

      activities_div.appendChild(activity_div);
    }
  </script>
</div>
<%- include('../components/footer') %>